<?xml version="1.0" encoding="gb2312"?>
<!--In this xml file stores the data of menu
	contributor: Patrick Zhang
  -->
<menu>
	<category id="mainCourse" cname="主菜">
		<dish id="GriddleCookedTeaTreeMushrooms">
			<Cname>干锅茶树菇</Cname>
			<Ename>Griddle Cooked Tea Tree Mushrooms</Ename>
			<price>54</price>
			<picture>pictures/GriddleCookedTeaTreeMushrooms.jpg</picture>
			<soldOut>否</soldOut>
		</dish>
		<dish id="ShreddedPorkwithVegetables">
			<Cname>农家小炒肉</Cname>
			<Ename>Shredded Pork with Vegetables</Ename>
			<price>25</price>
			<picture>pictures/ShreddedPorkwithVegetables.jpg</picture>
			<soldOut>否</soldOut>
		</dish>
		<dish id="Stirfriedeggwithspongegourd">
			<Cname>剁椒丝瓜炒鸡蛋</Cname>
			<Ename>Stir fried egg with sponge gourd</Ename>
			<price>35</price>
			<picture>pictures/Stirfriedeggwithspongegourd.jpg</picture>
			<soldOut>否</soldOut>
		</dish>
		<dish id="Chopbellpepperfishhead">
			<Cname>剁椒鱼头</Cname>
			<Ename>Chop bell pepper fish head</Ename>
			<price>25</price>
			<picture>pictures/Chopbellpepperfishhead.jpg</picture>
			<soldOut>否</soldOut>
		</dish>
		<dish id="Grandmafood">
			<Cname>外婆菜</Cname>
			<Ename>Grandma food</Ename>
			<price>24.6</price>
			<picture>pictures/Grandmafood.jpg</picture>
			<soldOut>否</soldOut>
		</dish>
	</category>
	<category id="seafood" cname="海鲜">
		<dish id="boilShrimp">
			<Cname>白灼虾</Cname>
			<Ename>boil shrimp</Ename>
			<price>65</price>
			<picture>pictures/boilShrimp.jpg</picture>
			<soldOut>否</soldOut>
		</dish>
		<dish id="abalone">
			<Cname>鲍鱼</Cname>
			<Ename>abalone</Ename>
			<price>0.5</price>
			<picture>pictures/abalone.jpg</picture>
			<soldOut>否</soldOut>
		</dish>
		<dish id="steamedscallopwithgarlicvermicelli">
			<Cname>蒜蓉粉丝蒸扇贝</Cname>
			<Ename>steamed scallop with garlic vermicelli</Ename>
			<price>57.2</price>
			<picture>pictures/scallop.jpg</picture>
			<soldOut>否</soldOut>
		</dish>
		<dish id="garliccrayfish">
			<Cname>蒜蓉小龙虾</Cname>
			<Ename>garlic crayfish</Ename>
			<price>76</price>
			<picture>pictures/crayfish.jpg</picture>
			<soldOut>否</soldOut>
		</dish>
		<dish id="salmon">
			<Cname>三文鱼片</Cname>
			<Ename>salmon</Ename>
			<price>26</price>
			<picture>pictures/salmon.jpg</picture>
			<soldOut>否</soldOut>
		</dish>
	</category>
	<category id="dessert" cname="甜点">
		<dish id="moonCake">
			<Cname>交大月饼</Cname>
			<Ename>mooncake</Ename>
			<price>10</price>
			<picture>pictures/moonCake.jpg</picture>
			<soldOut>否</soldOut>
		</dish>
		<dish id="Macaron">
			<Cname>马卡龙</Cname>
			<Ename>Macaron</Ename>
			<price>25</price>
			<picture>pictures/Macaron.jpg</picture>
			<soldOut>否</soldOut>
		</dish>
		<dish id="strawberryicecream">
			<Cname>草莓冰激凌</Cname>
			<Ename>strawberry icecream</Ename>
			<price>35</price>
			<picture>pictures/strawberryicecream.jpg</picture>
			<soldOut>是</soldOut>
		</dish>
		<dish id="stratiformcake">
			<Cname>榴莲千层蛋糕</Cname>
			<Ename>stratiform cake</Ename>
			<price>25</price>
			<picture>pictures/stratiformcake.jpg</picture>
			<soldOut>否</soldOut>
		</dish>
		<dish id="Tiramisu">
			<Cname>提拉米苏</Cname>
			<Ename>Tiramisu</Ename>
			<price>35</price>
			<picture>pictures/Tiramisu.jpg</picture>
			<soldOut>否</soldOut>
		</dish>
	<dish id="sweetdumpling"><Cname>糖油粑粑</Cname><Ename>sweet dumpling</Ename><price>15</price><soldOut>否</soldOut><picture>pictures/sweetdumpling1499074647.jpg</picture></dish></category>
</menu>
